.label:hover .label_info {
  left: -6px;
  opacity: 0.99;
  font: 8px;
}
body {
  padding: 29px;
  font: normal 13px;
}

h1 {
  text-align: center;
  color: #c04b4e;
  text-decoration-line: underline;
  text-decoration-style: double;
}

.label {
  position: relative;
  padding: 1px;
  cursor: help;
  display: inline-block;
}

.label .label_info {
  text-align: center;
  font-size: 12px;
  background: lightgrey;
  box-shadow: 4px 4px 6px grey;
  width: 100px;
  left: -10px;
  top: -60px;
  opacity: 0;
  padding: 5px;
  color: black;
  position: absolute;
}

.btn:hover {
  box-shadow: 0 8px 12px 0 rgba(0,0,0,0.24), 0 13px 30px 0 rgba(0,0,0,0.19);
}

.btn {
  font-size: 16px;
  background-color: #0f508d;
  padding: 10px 20px;
  color: white;
  border: none;
  display: inline-block;
  border-radius: 4px;
}

.btn.playbook {
  background-color: #508d0f;
}

span.inputBox {
  display: inline-block;
  padding: 10px;
  border: 1px solid blue;
}

span.hostDisplay {
  display: inline-block;
  padding: 6px;
}

span.hostsDisplay {
  width: auto;
  display: block;
}

.tohide{
  width: auto;
  display: block;
}

/*
.label:hover .label_info:BEFORE {
height: 0;
margin-top: -8px;
position: absolute;
top: 50%;
left: 0px;
border: 8px solid transparent;
content: '';
width: 0;
border-right-color: #333;
top: 50%;
left: -16px;
} */
